{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-center" style="font-family: 'Georgia', serif; color: white;"><strong>LitConnect Backend Page</strong></h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card shadow-lg" style="background-color:rgb(41, 40, 39); color: white; border-radius: 15px;">
                    <div class="card-body">
                    <h5 class="card-title">LitConnect Purpose</h5>
                    <ul>
                        <li>Create a website where people can:</li>
                        <li>Find Books</li>
                        <li>Rate and Review Books</li>
                        <li>Share Favorite Books</li>
                        <li>Engage in Literature Discussions</li>
                    </ul>
                    <img class="card-img-top" src="{{ url_for('static', filename= 'assets/books.jpg') }}" alt= 'Put image here' style="width: 150px; height: 150px; object-fit: cover; border-radius: 10px;">
                    <a href="https://ahaanv19.github.io/LitConnect/" class="btn btn-light">Visit Website</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow-lg" style="background-color:rgb(36, 36, 36); color: white; border-radius: 15px;">
                    <div class="card-body">
                    <h5 class="card-title">Development Process</h5>
                    <ul>
                        <li>Plan</li>
                        <li>Design</li>
                        <li>Develop</li>
                        <li>Test</li>
                        <li>Deploy</li>
                    </ul>
                    <img class="card-img-bottom" src="{{ url_for('static', filename= 'assets/development.webp') }}" alt= 'Put image here' style="width: 150px; height: 150px; object-fit: cover; border-radius: 10px;">
                    <a href="#" class="btn btn-light">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow-lg" style="background-color:rgb(45, 44, 44); color: white; border-radius: 15px;">
                    <div class="card-body">
                    <h5 class="card-title">Individual Features</h5>
                    <ul>
                        <li>Current Admin: Ahaan: About Page, Book Genre Recommendation, Backend Chat, Library Finder, Dewy Volunteer</li>
                        <li>Arnav: Preferences, UsersDb</li>
                        <li>Noah: Book Adaptation Checker, Manage Quotes, Manage Awards</li>
                        <li>Jacob: Book Recommendataions</li>
                    </ul>
                    <a href="https://ahaanv19.github.io/LitConnect/" class="btn btn-light">Explore Features</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}