
{% extends "layouts/base.html" %}
{% set project = "Login" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <div class="container py-4">
            <header class="pb-3 mb-4 border-bottom border-primary text-light">
                <span class="fs-4">Login Page</span>
            </header>
        </div>
    
        <div class="container py-4 text-light bg-primary">
    
            <div class="container bg-secondary py-4">
                <div class="p-5 mb-4 bg-light text-dark rounded-3">
                    <form name="f" action="{{ url_for('login') }}" method="POST">
                        <table>
                            {% if error %}
                                <tr class="alert alert-error">
                                    Invalid username and password.
                                </tr>
                            {% endif %}
                            <tr>
                                <td>Username:</td>
                                <td><input type="text" name="username" required></td>
                            </tr>
                            <tr>
                                <td>Password:</td>
                                <td><input type="password" name="password" required></td>
                            </tr>
                            <tr>
                                <td colspan="2"><input type="submit" value="Login"></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}